03-content/webhook-workflow.json
{
  "name": "自媒体内容分析 - Webhook API (改进版)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-analyze",
        "responseMode": "last",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "content-analyze"
    },
    {
      "parameters": {
        "jsCode": "// 生成运行 ID\nconst runId = Date.now().toString(36) + '-' + Math.random().toString(36).substring(2, 8);\nconst startTime = new Date().toISOString();\n\nreturn [{\n  json: {\n    runId: runId,\n    startTime: startTime,\n    status: 'started',\n    input: {\n      title: $input.body?.title || '',\n      content: $input.body?.content || ''\n    }\n  }\n}];"
      },
      "id": "init-run",
      "name": "初始化运行",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// 构建发送给 Ollama 的 Prompt\nconst runId = $input.first().json.runId;\\nconst title = $input.first().json.input.title || '';\nconst content = $input.first().json.input.content || '';\nconst model = $input.body?.model || 'qwen2.5:3b';\n\nif (!title && !content) {\n  throw new Error('请提供标题或内容');\n}\n\nconst prompt = `你是一位资深的自媒体内容策略专家。请分析以下内容，严格按照指定格式输出。\n\n## 待分析内容\n\n标题：${title}\n\n正文：\n${content}\n\n## 五层分类体系\n\n1. 流量层（获取曝光）：情绪共鸣、观点对立、反常识、热点\n2. 理解层（建立认知）：知识科普、深度分析、方法论\n3. 连接层（建立信任）：人格/IP、日常表达、成长记录\n4. 包装层（提升传播）：故事、案例拆解、叙事\n5. 转化层（变现能力）：工具、模板、清单\n\n## 请输出以下格式的分析结果\n\n【主要类型】xxx层 - xxx型\n\n【五层得分】\n- 流量层：x/10\n- 理解层：x/10\n- 连接层：x/10\n- 包装层：x/10\n- 转化层：x/10\n\n【内容特征】\n1. xxx\n2. xxx\n3. xxx\n\n【策略建议】\n1. xxx\n2. xxx\n3. xxx\n\n【优化建议】\n1. xxx\n2. xxx\n3. xxx\n\n【推荐平台】\n1. xxx（原因）\n2. xxx（原因）\n3. xxx（原因）\n\n【改写建议】\n标题优化：xxx\n开头优化：xxx\n正文优化：xxx\n结尾优化：xxx\n\n【平台适配】\n小红书：xxx\n抖音：xxx\n知乎：xxx`;\n\nreturn [{\\n  json: {\\n    runId: runId,\n    model: model,\n    prompt: prompt,\n    stream: false,\n    title: title,\n    content: content\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "构建Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "stream",
              "value": "=false"
            },
            {
              "name": "options",
              "value": "={{ {\"temperature\": 0.7, \"num_predict\": 4000} }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-ollama",
      "name": "调用Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "continueOnFail": true,
      "errorOutput": "error"
    },
    {
      "parameters": {
        "jsCode": "// 处理 Ollama 调用失败\nconst runId = $input.first().json.runId;\nconst error = $json.error || '未知错误';\nconst title = $input.first().json.title || '未知';\nconst timestamp = new Date().toISOString();\n\nconst failureLog = {\n  runId: runId,\n  step: 'call-ollama',\n  error: error,\n  title: title,\n  timestamp: timestamp,\n  status: 'failed',\n  needsReview: True\n};\n\nreturn [{\n  json: failureLog\n}];"
      },
      "id": "handle-ollama-error",
      "name": "Ollama错误处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// 解析 Ollama 返回的文本\nconst response = $input.first().json.response;\n\n// 辅助函数\nfunction extractSection(text, marker) {\n  const regex = new RegExp(marker + '([\\s\\S]*?)(?=【|$)');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nfunction extractScore(text, layer) {\n  // 兼容中英文冒号、全半角空格\n  const regex = new RegExp(layer + '[：:]\\\\s*(\\\\d+)\\\\s*/\\\\s*10');\n  const match = text.match(regex);\n  return match ? parseInt(match[1]) : 0;\n}\n\nfunction extractList(text, marker) {\n  const section = extractSection(text, marker);\n  return section\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(line => /^\\d+[.．、]/.test(line))\n    .map(line => line.replace(/^\\d+[.．、]\\s*/, '').trim())\n    .filter(item => item.length > 0);\n}\n\nfunction extractPlatforms(text) {\n  const section = extractSection(text, '【推荐平台】');\n  const lines = section\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(line => /^\\d+[.．、]/.test(line));\n\n  return lines.map(line => {\n    const match = line.match(/^\\d+[.．、]\\s*(.+?)[（(](.+?)[)）]/);\n    if (match) {\n      return { name: match[1].trim(), reason: match[2].trim() };\n    }\n    const nameMatch = line.match(/^\\d+[.．、]\\s*(.+)/);\n    return { name: nameMatch ? nameMatch[1].trim() : line, reason: '' };\n  });\n}\n\nfunction extractRewrite(text) {\n  const section = extractSection(text, '【改写建议】');\n  const result = {};\n\n  const patterns = [\n    ['title', /标题优化[：:]\\s*([\\s\\S]*?)(?=开头优化|$)/],\n    ['hook', /开头优化[：:]\\s*([\\s\\S]*?)(?=正文优化|$)/],\n    ['body', /正文优化[：:]\\s*([\\s\\S]*?)(?=结尾优化|$)/],\n    ['ending', /结尾优化[：:]\\s*([\\s\\S]*?)(?=【|$)/]\n  ];\n  for (const [key, pat] of patterns) {\n    const m = section.match(pat);\n    result[key] = m ? m[1].trim() : '';\n  }\n  return result;\n}\n\nfunction extractPlatformAdaptation(text) {\n  const section = extractSection(text, '【平台适配】');\n  const result = {};\n  const lines = section.split('\\n');\n  for (const line of lines) {\n    const match = line.match(/^([^：:]+)[：:]\\s*(.+)$/);\n    if (match) {\n      result[match[1].trim()] = match[2].trim();\n    }\n  }\n  return result;\n}\n\n// 主解析\nconst primaryMatch = response.match(/【主要类型】(.+?)\\n/);\nconst primaryRaw = primaryMatch ? primaryMatch[1].trim() : '';\nconst layerTypeMatch = primaryRaw.match(/(.+?)层\\s*[-—]\\s*(.+)/);\n\nconst primaryLayer = layerTypeMatch ? layerTypeMatch[1].trim() : primaryRaw;\nconst primaryType = layerTypeMatch ? layerTypeMatch[2].trim() : '';\n\nconst result = {\n  primaryLayer: primaryLayer,\n  primaryType: primaryType,\n  scores: {\n    traffic: extractScore(response, '流量层'),\n    understanding: extractScore(response, '理解层'),\n    connection: extractScore(response, '连接层'),\n    packaging: extractScore(response, '包装层'),\n    conversion: extractScore(response, '转化层')\n  },\n  characteristics: extractList(response, '【内容特征】'),\n  suggestions: extractList(response, '【策略建议】'),\n  optimizationTips: extractList(response, '【优化建议】'),\n  recommendedPlatforms: extractPlatforms(response),\n  rewrite: extractRewrite(response),\n  platformAdaptation: extractPlatformAdaptation(response),\n  rawResponse: response\n};\n\nreturn [{ json: result }];"
      },
      "id": "parse-result",
      "name": "解析结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 记录成功运行日志\nconst runId = $input.first().json.runId;\nconst endTime = new Date().toISOString();\n\nconst successLog = {\n  runId: runId,\n  endTime: endTime,\n  status: 'success',\n  timestamp: endTime\n};\n\nreturn [{\n  json: successLog\n}];"
      },
      "id": "log-success",
      "name": "记录成功日志",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        450
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "初始化运行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "初始化运行": {
      "main": [
        [
          {
            "node": "构建Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建Prompt": {
      "main": [
        [
          {
            "node": "调用Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Ollama": {
      "main": [
        [
          {
            "node": "解析结果",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Ollama错误处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama错误处理": {
      "main": [
        [
          {
            "node": "解析结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析结果": {
      "main": [
        [
          {
            "node": "记录成功日志",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "content-analysis",
    "webhook",
    "improved"
  ],
  "active": false
}