02-tech-crunch/02-tech-crunch.json
{
  "name": "科技资讯日报-V0.1-20260407",
  "nodes": [
    {
      "id": "ff65e550-86a1-450a-8065-fb32766ce18e",
      "name": "手动触发",
      "parameters": {},
      "position": [
        -464,
        112
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "5447b8c9-83c4-4cf2-bb6e-3e573ec80867",
      "name": "每日8点触发",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "0 8 * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -464,
        304
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "38057db3-cf70-4db7-a539-09d88613c007",
      "name": "初始化配置",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const today = new Date().toISOString().slice(0, 10);\nconst FEISHU_WEBHOOK = 'https://open.feishu.cn/open-apis/bot/v2/hook/2750a463-335f-4f9b-a227-b78087fa5db0';\nreturn [{ json: { date: today, feishuWebhook: FEISHU_WEBHOOK } }];"
      },
      "position": [
        -240,
        208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ef31c458-b611-47bc-bf8b-ffecacbe1d2c",
      "name": "TechCrunch RSS",
      "onError": "continueRegularOutput",
      "parameters": {
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        },
        "url": "https://techcrunch.com/feed/"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "7ac1e620-5741-49dc-b17d-c97952f88a9a",
      "name": "HackerNews RSS",
      "onError": "continueRegularOutput",
      "parameters": {
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        },
        "url": "https://hnrss.org/frontpage?points=50"
      },
      "position": [
        0,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "5de5215b-fdeb-4718-8783-5d5d82f9145e",
      "name": "ProductHunt RSS",
      "onError": "continueRegularOutput",
      "parameters": {
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        },
        "url": "https://www.producthunt.com/feed"
      },
      "position": [
        0,
        400
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "6a13a007-d413-4411-a81a-0365e452fb50",
      "name": "解析TechCrunch",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'TechCrunch', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst itemRegex = /<item[\\s>]*([\\s\\S]*?)<\\/item>/gi;\nlet match, count = 0;\nwhile ((match = itemRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '', date = '', author = '';\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  const l = xml.match(/<link>(.*?)<\\/link>/i);\n  if (l) link = l[1].trim();\n  const d = xml.match(/<description>([\\s\\S]*?)<\\/description>/i);\n  if (d) { desc = d[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').replace(/<[^>]+>/g, ' ').substring(0, 200).trim(); }\n  const p = xml.match(/<pubDate>(.*?)<\\/pubDate>/i);\n  if (p) date = p[1].trim();\n  const c = xml.match(/<dc:creator>([\\s\\S]*?)<\\/dc:creator>/i);\n  if (c) author = c[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  if (title) { items.push({ title, link, description: desc, date, author }); count++; }\n}\nreturn [{ json: { source: 'TechCrunch', items, count: items.length } }];"
      },
      "position": [
        240,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a5895384-1310-4eaf-af5d-0a287c35dfd4",
      "name": "解析HackerNews",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'HackerNews', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst itemRegex = /<item[\\s>]*([\\s\\S]*?)<\\/item>/gi;\nlet match, count = 0;\nwhile ((match = itemRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '', date = '', points = 0;\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  const l = xml.match(/<link>(.*?)<\\/link>/i);\n  if (l) link = l[1].trim();\n  const d = xml.match(/<description>([\\s\\S]*?)<\\/description>/i);\n  if (d) { desc = d[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').replace(/<[^>]+>/g, ' ').substring(0, 200).trim(); }\n  const p = xml.match(/<pubDate>(.*?)<\\/pubDate>/i);\n  if (p) date = p[1].trim();\n  const pm = desc.match(/Points:\\s*(\\d+)/);\n  if (pm) points = parseInt(pm[1]);\n  if (title) { items.push({ title, link, description: desc, date, points }); count++; }\n}\nreturn [{ json: { source: 'HackerNews', items, count: items.length } }];"
      },
      "position": [
        240,
        208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "219fcc18-14bb-4840-98b5-92783fdf951b",
      "name": "解析ProductHunt",
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'ProductHunt', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst entryRegex = /<entry[\\s>]*([\\s\\S]*?)<\\/entry>/gi;\nlet match, count = 0;\nwhile ((match = entryRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '';\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].trim();\n  const l = xml.match(/<link[^>]*rel=\"alternate\"[^>]*href=\"([^\"]+)\"/i);\n  if (l) link = l[1];\n  const c = xml.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/i);\n  if (c) {\n    desc = c[1].replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n    const pm = desc.match(/<p>(.*?)<\\/p>/i);\n    if (pm) desc = pm[1].trim();\n    else desc = desc.replace(/<[^>]+>/g, ' ').substring(0, 200).trim();\n  }\n  if (title) { items.push({ title, link, description: desc }); count++; }\n}\nreturn [{ json: { source: 'ProductHunt', items, count: items.length } }];"
      },
      "position": [
        240,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "fe3e301a-5a13-4d53-a292-3c0fc0a497b1",
      "name": "Merge",
      "parameters": {
        "numberInputs": 3
      },
      "position": [
        512,
        192
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "4c3e8fde-4b1b-4858-8689-d87e085bc9a9",
      "name": "准备批量翻译",
      "parameters": {
        "jsCode": "const allData = $input.all().map(i => i.json);\nfunction cleanText(s){if(!s||typeof s!=='string')return '';return s.replace(/https?:\\/\\/[^\\s]+/g,'').replace(/<[^>]+>/g,'').replace(/&\\w+;/g,'').replace(/\\n/g,' ').replace(/\\s+/g,' ').trim();}\nfunction isRealEnglish(t){if(!t||t.length<5)return false;const l=(t.match(/[a-zA-Z]/g)||[]).length;const tot=t.replace(/\\s/g,'').length;return tot>0&&l>10&&(l/tot)>0.6;}\nconst toTrans=[];const tMap=[];\nfor(let si=0;si<allData.length;si++){const src=allData[si];if(!src?.items)continue;for(let ii=0;ii<src.items.length;ii++){const it=src.items[ii];const ct=cleanText(it.title);if(isRealEnglish(ct)){toTrans.push(ct.substring(0,300));tMap.push({si,ii,f:'title',orig:ct});}const cd=cleanText(it.description);if(isRealEnglish(cd)){toTrans.push(cd.substring(0,100));tMap.push({si,ii,f:'desc',orig:cd.substring(0,100),full:cd});}}}\nconst uniq=[...new Set(toTrans)];const bSize=30;const batches=[];for(let i=0;i<uniq.length;i+=bSize)batches.push(uniq.slice(i,i+bSize));\nconst tMap2={};for(let i=0;i<batches.length;i++){const b=batches[i];const prompt=`将以下${b.length}个英文翻译成中文，每行一个翻译结果：\\n${b.map((t,j)=>`${j+1}. ${t}`).join('\\n')}\\n翻译结果：`;try{const r=await this.helpers.httpRequest({method:'POST',url:'http://192.168.31.102:11434/v1/chat/completions',headers:{'Content-Type':'application/json'},body:{model:'qwen2.5:3b',messages:[{role:'system',content:'你是科技资讯翻译助手。'},{role:'user',content:prompt}],temperature:0.1,max_tokens:2000,stream:false},timeout:720000});const content=r.choices?.[0]?.message?.content||'';const lines=content.split('\\n').map(l=>l.replace(/^\\d+[.\\s]+/,'').trim()).filter(l=>l.length>0&&!l.includes('待翻译')&&!l.includes('翻译结果'));const mc=Math.min(b.length,lines.length);for(let j=0;j<mc;j++){if(lines[j]&&lines[j]!==b[j])tMap2[b[j]]=lines[j];}}catch(e){console.log(`批次 ${i+1} 错误: ${e.message}`);}}\nlet tc=0;tMap.forEach(p=>{const tr=tMap2[p.orig];if(tr){tc++;if(p.f==='title')allData[p.si].items[p.ii].title=tr;else{const ratio=tr.length/p.orig.length;const tl=Math.min(Math.floor(p.full.length*ratio*1.2),180);allData[p.si].items[p.ii].description=tr.substring(0,tl)+(tl<tr.length?'...':'');}}});\nconsole.log(`回填: ${tc}/${tMap.length}`);\nreturn allData.map(s=>({json:s}));"
      },
      "position": [
        512,
        544
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b0a2c156-fb4a-4dd6-beb2-ebf8f22d5818",
      "name": "格式化日报",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const allData = $input.all().map(i => i.json);\nconst config = $('初始化配置').first().json;\nconst date = config.date;\nconst sources = [{key:'TechCrunch',icon:'🐦',label:'TechCrunch 热门'},{key:'HackerNews',icon:'🔶',label:'HackerNews 热门'},{key:'ProductHunt',icon:'🚀',label:'Product Hunt 今日新品'}];\nconst dMap = new Map();for(const d of allData)dMap.set(d.source,d);\nconst results = sources.map(s=>{const r=dMap.get(s.key)||{items:[],error:null};return{...s,...r};});\nconst total = results.reduce((s,r)=>s+(r.items?.length||0),0);\nconst errors = results.filter(r=>r.error).map(r=>({source:r.key,msg:r.error}));\nconst now = new Date();const bj = new Date(now.getTime()+8*3600000);\nconst ts = bj.toISOString().replace('T',' ').slice(0,19)+' (北京时间)';\nlet md = '';\nif(errors.length===0)md+=`**✅ 所有数据源获取成功** | 📊 总文章数: ${total} 条\\n\\n`;\nelse{md+=`**⚠️ 数据获取状态**\\n✅ 成功: ${results.length-errors.length}/${results.length}\\n❌ 失败: ${errors.length}/${results.length}\\n📊 总文章数: ${total} 条\\n\\n`;errors.forEach(e=>{md+=`- **${e.source}**: ${e.msg}\\n`;});md+='\\n';}\nresults.forEach(r=>{md+=`---\\n**${r.icon} ${r.label}**`;if(r.error){md+=` ❌ ${r.error}\\n\\n`;return;}const c=r.items?.length||0;md+=` (${c}条)\\n`;if(c===0){md+='> 暂无数据\\n\\n';return;}(r.items||[]).forEach((it,i)=>{const t=it.title||'(无标题)';const d=it.description?` — ${String(it.description).substring(0,80)}`:'';const sc=r.key==='HackerNews'&&it.points?` (${it.points}分)`:'';const lk=it.link?` [🔗查看详情](${it.link})`:'';md+=`${i+1}. **${t}**${sc}${d}${lk}\\n`;});md+='\\n';});\nmd+=`---\\n*由 n8n 自动生成 | ${ts}*`;\nreturn [{json:{markdown:md,date,totalItems:total,errorCount:errors.length,errors,feishuWebhook:config.feishuWebhook}}];"
      },
      "position": [
        720,
        272
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "continueOnFail": true,
      "disabled": true,
      "id": "b073c55f-ad5e-431c-9ceb-80849ad3a6c2",
      "name": "保存Markdown",
      "parameters": {
        "fileName": "=/tmp/tech-digest/tech-digest-{{ $json.date }}.md",
        "operation": "write",
        "options": {}
      },
      "position": [
        912,
        112
      ],
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1
    },
    {
      "id": "46c290ba-9f4a-4e14-9dc9-3ecb0cde38bd",
      "name": "准备飞书消息",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst md = data.markdown || '';\nconst trunc = md.length > 8000 ? md.substring(0, 7900) + '\\n\\n... (已截断)' : md;\nconst title = data.errorCount > 0 ? `📊 科技资讯日报 (⚠️ ${data.errorCount}个源失败)` : '📊 科技资讯日报';\nconst tmpl = data.errorCount > 0 ? 'red' : 'blue';\nconst payload = {msg_type:\"interactive\",card:{schema:\"2.0\",config:{wide_screen_mode:true},header:{title:{tag:\"plain_text\",content:`${title} ${data.date}`},template:tmpl},body:{elements:[{tag:\"markdown\",content:trunc}]}}};\nreturn [{json:{webhookUrl:data.feishuWebhook,payload,date:data.date,totalItems:data.totalItems,errorCount:data.errorCount}}];"
      },
      "position": [
        912,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "8a53e99d-91c0-46a0-9b26-9ef397ce43ff",
      "name": "发送飞书群",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "method": "POST",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "={{ $json.webhookUrl }}"
      },
      "position": [
        1120,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "64c1ce74-a7da-49c7-9352-99e3b72a00cb",
      "name": "输出结果",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "// 从初始化配置获取日期\nconst initConfig = $('初始化配置').first().json;\nconst date = initConfig?.date || '未知日期';\n\n// 从格式化日报获取统计\nconst formatData = $('格式化日报').first().json;\nconst totalItems = formatData?.totalItems || 0;\nconst errorCount = formatData?.errorCount || 0;\n\n// 从当前输入获取飞书响应\nconst feishuResp = $input.first().json;\nlet feishuStatus = '未执行';\nif (feishuResp) {\n    const code = feishuResp.code ?? feishuResp.StatusCode;\n    if (code === 0) feishuStatus = '✅ 发送成功';\n    else if (code !== undefined) feishuStatus = `❌ API错误: ${code}`;\n    else if (feishuResp.statusCode) feishuStatus = feishuResp.statusCode === 200 ? '✅ 发送成功' : `❌ HTTP错误: ${feishuResp.statusCode}`;\n}\n\nreturn [{ json: { message: `✅ 日报生成完成: ${date}`, totalItems, errors: errorCount > 0 ? `${errorCount}个数据源失败` : '无', feishuStatus } }];"
      },
      "position": [
        1344,
        208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "tech-daily-webhook-v3",
      "name": "Tech Daily Webhook",
      "parameters": {
        "httpMethod": "GET",
        "options": {},
        "path": "tech-daily-trigger",
        "responseMode": "lastNode"
      },
      "position": [
        -464,
        496
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "HackerNews RSS": {
      "main": [
        [
          {
            "index": 0,
            "node": "解析HackerNews",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "准备批量翻译",
            "type": "main"
          }
        ]
      ]
    },
    "ProductHunt RSS": {
      "main": [
        [
          {
            "index": 0,
            "node": "解析ProductHunt",
            "type": "main"
          }
        ]
      ]
    },
    "Tech Daily Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "初始化配置",
            "type": "main"
          }
        ]
      ]
    },
    "TechCrunch RSS": {
      "main": [
        [
          {
            "index": 0,
            "node": "解析TechCrunch",
            "type": "main"
          }
        ]
      ]
    },
    "保存Markdown": {
      "main": [
        [
          {
            "index": 0,
            "node": "输出结果",
            "type": "main"
          }
        ]
      ]
    },
    "准备批量翻译": {
      "main": [
        [
          {
            "index": 0,
            "node": "格式化日报",
            "type": "main"
          }
        ]
      ]
    },
    "准备飞书消息": {
      "main": [
        [
          {
            "index": 0,
            "node": "发送飞书群",
            "type": "main"
          }
        ]
      ]
    },
    "初始化配置": {
      "main": [
        [
          {
            "index": 0,
            "node": "TechCrunch RSS",
            "type": "main"
          },
          {
            "index": 0,
            "node": "HackerNews RSS",
            "type": "main"
          },
          {
            "index": 0,
            "node": "ProductHunt RSS",
            "type": "main"
          }
        ]
      ]
    },
    "发送飞书群": {
      "main": [
        [
          {
            "index": 0,
            "node": "输出结果",
            "type": "main"
          }
        ]
      ]
    },
    "手动触发": {
      "main": [
        [
          {
            "index": 0,
            "node": "初始化配置",
            "type": "main"
          }
        ]
      ]
    },
    "格式化日报": {
      "main": [
        [
          {
            "index": 0,
            "node": "准备飞书消息",
            "type": "main"
          }
        ]
      ]
    },
    "每日8点触发": {
      "main": [
        [
          {
            "index": 0,
            "node": "初始化配置",
            "type": "main"
          }
        ]
      ]
    },
    "解析HackerNews": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "解析ProductHunt": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "解析TechCrunch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    }
  }
}