02-tech-crunch/02-tech-crunch.json
{"updatedAt":"2026-06-24T10:20:30.338Z","createdAt":"2026-04-07T08:58:01.498Z","id":"RhloJWkaU02qiNJO","name":"科技资讯日报-V0.1-20260407","description":null,"active":true,"isArchived":false,"nodes":[{"id":"ff65e550-86a1-450a-8065-fb32766ce18e","name":"手动触发","parameters":{},"position":[-464,112],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"id":"5447b8c9-83c4-4cf2-bb6e-3e573ec80867","name":"每日8点触发","parameters":{"rule":{"interval":[{"expression":"0 8 * * *","field":"cronExpression"}]}},"position":[-464,304],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"id":"38057db3-cf70-4db7-a539-09d88613c007","name":"初始化配置","onError":"continueRegularOutput","parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\nconst FEISHU_WEBHOOK = 'https://open.feishu.cn/open-apis/bot/v2/hook/2750a463-335f-4f9b-a227-b78087fa5db0';\nreturn [{ json: { date: today, feishuWebhook: FEISHU_WEBHOOK } }];"},"position":[-240,208],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"ef31c458-b611-47bc-bf8b-ffecacbe1d2c","name":"TechCrunch RSS","onError":"continueRegularOutput","parameters":{"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":15000},"url":"https://techcrunch.com/feed/"},"position":[0,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"7ac1e620-5741-49dc-b17d-c97952f88a9a","name":"HackerNews RSS","onError":"continueRegularOutput","parameters":{"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":15000},"url":"https://hnrss.org/frontpage?points=50"},"position":[0,208],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"5de5215b-fdeb-4718-8783-5d5d82f9145e","name":"ProductHunt RSS","onError":"continueRegularOutput","parameters":{"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":15000},"url":"https://www.producthunt.com/feed"},"position":[0,400],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"6a13a007-d413-4411-a81a-0365e452fb50","name":"解析TechCrunch","onError":"continueRegularOutput","parameters":{"jsCode":"const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'TechCrunch', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst itemRegex = /<item[\\s>]*([\\s\\S]*?)<\\/item>/gi;\nlet match, count = 0;\nwhile ((match = itemRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '', date = '', author = '';\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  const l = xml.match(/<link>(.*?)<\\/link>/i);\n  if (l) link = l[1].trim();\n  const d = xml.match(/<description>([\\s\\S]*?)<\\/description>/i);\n  if (d) { desc = d[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').replace(/<[^>]+>/g, ' ').substring(0, 200).trim(); }\n  const p = xml.match(/<pubDate>(.*?)<\\/pubDate>/i);\n  if (p) date = p[1].trim();\n  const c = xml.match(/<dc:creator>([\\s\\S]*?)<\\/dc:creator>/i);\n  if (c) author = c[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  if (title) { items.push({ title, link, description: desc, date, author }); count++; }\n}\nreturn [{ json: { source: 'TechCrunch', items, count: items.length } }];"},"position":[240,0],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"a5895384-1310-4eaf-af5d-0a287c35dfd4","name":"解析HackerNews","onError":"continueRegularOutput","parameters":{"jsCode":"const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'HackerNews', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst itemRegex = /<item[\\s>]*([\\s\\S]*?)<\\/item>/gi;\nlet match, count = 0;\nwhile ((match = itemRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '', date = '', points = 0;\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  const l = xml.match(/<link>(.*?)<\\/link>/i);\n  if (l) link = l[1].trim();\n  const d = xml.match(/<description>([\\s\\S]*?)<\\/description>/i);\n  if (d) { desc = d[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').replace(/<[^>]+>/g, ' ').substring(0, 200).trim(); }\n  const p = xml.match(/<pubDate>(.*?)<\\/pubDate>/i);\n  if (p) date = p[1].trim();\n  const pm = desc.match(/Points:\\s*(\\d+)/);\n  if (pm) points = parseInt(pm[1]);\n  if (title) { items.push({ title, link, description: desc, date, points }); count++; }\n}\nreturn [{ json: { source: 'HackerNews', items, count: items.length } }];"},"position":[240,208],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"219fcc18-14bb-4840-98b5-92783fdf951b","name":"解析ProductHunt","parameters":{"jsCode":"const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'ProductHunt', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst entryRegex = /<entry[\\s>]*([\\s\\S]*?)<\\/entry>/gi;\nlet match, count = 0;\nwhile ((match = entryRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '';\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].trim();\n  const l = xml.match(/<link[^>]*rel=\"alternate\"[^>]*href=\"([^\"]+)\"/i);\n  if (l) link = l[1];\n  const c = xml.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/i);\n  if (c) {\n    desc = c[1].replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n    const pm = desc.match(/<p>(.*?)<\\/p>/i);\n    if (pm) desc = pm[1].trim();\n    else desc = desc.replace(/<[^>]+>/g, ' ').substring(0, 200).trim();\n  }\n  if (title) { items.push({ title, link, description: desc }); count++; }\n}\nreturn [{ json: { source: 'ProductHunt', items, count: items.length } }];"},"position":[240,400],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"fe3e301a-5a13-4d53-a292-3c0fc0a497b1","name":"Merge","parameters":{"numberInputs":3},"position":[512,192],"type":"n8n-nodes-base.merge","typeVersion":3.2},{"id":"4c3e8fde-4b1b-4858-8689-d87e085bc9a9","name":"准备批量翻译","parameters":{"jsCode":"const allData = $input.all().map(i => i.json);\nconst startTime = Date.now();\nconst startTimeStr = new Date(startTime+8*3600000).toISOString().replace('T',' ').slice(0,19);\nfunction cleanText(s){if(!s||typeof s!=='string')return '';return s.replace(/https?:\\/\\/[^\\s]+/g,'').replace(/<[^>]+>/g,'').replace(/&\\w+;/g,'').replace(/\\n/g,' ').replace(/\\s+/g,' ').trim();}\nfunction isRealEnglish(t){if(!t||t.length<5)return false;const l=(t.match(/[a-zA-Z]/g)||[]).length;const tot=t.replace(/\\s/g,'').length;return tot>0&&l>10&&(l/tot)>0.6;}\nconst MODEL='qwen3.5:2b';\nconst OLLAMA_HOST='http://192.168.31.87:11434';\nlet totalTexts=0;let translatedCount=0;let errorCount=0;\n\n// 按来源分批翻译\nfor(let si=0;si<allData.length;si++){\n  const src=allData[si];\n  if(!src?.items)continue;\n  const toTrans=[];const tMap=[];\n  for(let ii=0;ii<src.items.length;ii++){\n    const it=src.items[ii];\n    const ct=cleanText(it.title);\n    if(isRealEnglish(ct)){toTrans.push(ct.substring(0,300));tMap.push({ii,f:'title',orig:ct});}\n    const cd=cleanText(it.description);\n    if(isRealEnglish(cd)){toTrans.push(cd.substring(0,100));tMap.push({ii,f:'desc',orig:cd.substring(0,100),full:cd});}\n  }\n  if(toTrans.length===0)continue;\n  totalTexts+=toTrans.length;\n  // 不去重，直接按顺序翻译\n  const bSize=30;const batches=[];\n  for(let i=0;i<toTrans.length;i+=bSize)batches.push(toTrans.slice(i,i+bSize));\n  const tMap2={};\n  let offset=0;\n  for(let i=0;i<batches.length;i++){\n    const b=batches[i];\n    const prompt=`将以下${b.length}个英文翻译成中文，每行一个翻译结果：\\n${b.map((t,j)=>`${j+1}. ${t}`).join('\\n')}\\n翻译结果：`;\n    try{\n      const r=await this.helpers.httpRequest({method:'POST',url:OLLAMA_HOST+'/api/chat',headers:{'Content-Type':'application/json'},body:{model:MODEL,messages:[{role:'system',content:'你是科技资讯翻译助手，只输出翻译结果，不要解释。'},{role:'user',content:prompt}],stream:false,think:false,options:{num_predict:2000,temperature:0.1}},timeout:720000});\n      const content=r.message?.content||'';\n      const lines=content.split('\\n').map(l=>l.replace(/^\\d+[.\\s]+/,'').trim()).filter(l=>l.length>0&&!l.includes('待翻译')&&!l.includes('翻译结果'));\n      const mc=Math.min(b.length,lines.length);\n      for(let j=0;j<mc;j++){\n        const origIdx=offset+j;\n        if(lines[j]&&lines[j]!==b[j]){\n          tMap2[origIdx]=lines[j];\n          translatedCount++;\n        }\n      }\n      offset+=b.length;\n    }catch(e){errorCount++;console.log(`批次 ${i+1} 错误: ${e.message}`);}\n  }\n  tMap.forEach((p,idx)=>{\n    const tr=tMap2[idx];\n    if(tr){\n      if(p.f==='title')src.items[p.ii].title=tr;\n      else{\n        const ratio=tr.length/p.orig.length;\n        const tl=Math.min(Math.floor(p.full.length*ratio*1.2),180);\n        src.items[p.ii].description=tr.substring(0,tl)+(tl<tr.length?'...':'');\n      }\n    }\n  });\n}\n\nconst endTime=Date.now();\nconst durationSec=Math.round((endTime-startTime)/1000);\nconst durationMin=Math.floor(durationSec/60);\nconst durationRemain=durationSec%60;\nconst endTimeStr = new Date(endTime+8*3600000).toISOString().replace('T',' ').slice(0,19);\nconst stats={model:MODEL,host:OLLAMA_HOST,totalTexts,translatedCount,errorCount,durationSec,durationFormatted:`${durationMin}分${durationRemain}秒`,startTime:startTimeStr,endTime:endTimeStr};\nconsole.log(JSON.stringify(stats));\nreturn allData.map(s=>({json:{...s,_translationStats:stats}}));"},"position":[512,544],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"b0a2c156-fb4a-4dd6-beb2-ebf8f22d5818","name":"格式化日报","onError":"continueRegularOutput","parameters":{"jsCode":"const allData = $input.all().map(i => i.json);\nconst config = $('初始化配置').first().json;\nconst date = config.date;\nconst sources = [{key:'TechCrunch',icon:'🐦',label:'TechCrunch 热门'},{key:'HackerNews',icon:'🔶',label:'HackerNews 热门'},{key:'ProductHunt',icon:'🚀',label:'Product Hunt 今日新品'}];\nconst dMap = new Map();for(const d of allData)dMap.set(d.source,d);\nconst results = sources.map(s=>{const r=dMap.get(s.key)||{items:[],error:null};return{...s,...r};});\nconst total = results.reduce((s,r)=>s+(r.items?.length||0),0);\nconst errors = results.filter(r=>r.error).map(r=>({source:r.key,msg:r.error}));\nconst now = new Date();const bj = new Date(now.getTime()+8*3600000);\nconst ts = bj.toISOString().replace('T',' ').slice(0,19)+' (北京时间)';\nconst transStats = allData.find(d=>d._translationStats)?._translationStats || {};\n\n// 清理描述字段\nfunction cleanDesc(desc, source) {\n  if (!desc) return '';\n  if (source === 'HackerNews') return '';\n  if (source === 'ProductHunt') {\n    return desc.replace(/\\s*(Discussion|讨论)\\s*\\|\\s*(Link|链接)\\s*/g, '').trim();\n  }\n  return desc.substring(0, 80);\n}\n\n// 格式化运行时间\nconst startTime = transStats.startTime || '-';\nconst endTime = transStats.endTime || '-';\nconst timeRange = startTime + '~' + endTime.split(' ')[1];\n\n// 获取翻译服务IP\nconst host = transStats.host || '';\nconst hostIp = host.includes('87') ? '87' : host.includes('102') ? '102' : '-';\n\nlet md = '';\nmd += `**📊 运行统计**\\n`;\nmd += `⏰ 运行时间: ${timeRange}\\n`;\nmd += `🤖 翻译服务: ${transStats.model || '未配置'} (${hostIp})\\n`;\nmd += `📄 翻译结果: ${transStats.translatedCount || 0}/${transStats.totalTexts || 0}条成功\\n`;\nmd += `⏱️ 翻译耗时: ${transStats.durationFormatted || '-'}\\n`;\nmd += `📡 数据源: TC:${results.find(r=>r.key==='TechCrunch')?.items?.length || 0} HN:${results.find(r=>r.key==='HackerNews')?.items?.length || 0} PH:${results.find(r=>r.key==='ProductHunt')?.items?.length || 0}\\n`;\nmd += `\\n---\\n`;\nif(errors.length===0)md+=`**✅ 所有数据源获取成功** | 📊 总文章数: ${total} 条\\n\\n`;\nelse{md+=`**⚠️ 数据获取状态**\\n✅ 成功: ${results.length-errors.length}/${results.length}\\n❌ 失败: ${errors.length}/${results.length}\\n📊 总文章数: ${total} 条\\n\\n`;errors.forEach(e=>{md+=`- **${e.source}**: ${e.msg}\\n`;});md+='\\n';}\nresults.forEach(r=>{md+=`\\n---\\n**${r.icon} ${r.label}**`;if(r.error){md+=` ❌ ${r.error}\\n\\n`;return;}const c=r.items?.length||0;md+=` (${c}条)\\n`;if(c===0){md+='> 暂无数据\\n\\n';return;}(r.items||[]).forEach((it,i)=>{const t=it.title||'(无标题)';const d=cleanDesc(it.description, r.key);const dStr=d?` — ${d}`:'';const sc=r.key==='HackerNews'&&it.points?` (${it.points}分)`:'';const lk=it.link?` [🔗查看详情](${it.link})`:'';md+=`${i+1}. **${t}**${sc}${dStr}${lk}\\n`;});md+='\\n';});\nmd+=`\\n---\\n*由 n8n 自动生成 | ${ts}*`;\nreturn [{json:{markdown:md,date,totalItems:total,errorCount:errors.length,errors,feishuWebhook:config.feishuWebhook,translationStats:transStats}}];"},"position":[720,272],"type":"n8n-nodes-base.code","typeVersion":2},{"continueOnFail":true,"disabled":true,"id":"b073c55f-ad5e-431c-9ceb-80849ad3a6c2","name":"保存Markdown","parameters":{"fileName":"=/tmp/tech-digest/tech-digest-{{ $json.date }}.md","operation":"write","options":{}},"position":[912,112],"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1},{"id":"46c290ba-9f4a-4e14-9dc9-3ecb0cde38bd","name":"准备飞书消息","onError":"continueRegularOutput","parameters":{"jsCode":"const data = $input.first().json;\nconst md = data.markdown || '';\nconst trunc = md.length > 8000 ? md.substring(0, 7900) + '\\n\\n... (已截断)' : md;\nconst title = data.errorCount > 0 ? `📊 科技资讯日报 (⚠️ ${data.errorCount}个源失败)` : '📊 科技资讯日报';\nconst tmpl = data.errorCount > 0 ? 'red' : 'blue';\nconst payload = {msg_type:\"interactive\",card:{schema:\"2.0\",config:{wide_screen_mode:true},header:{title:{tag:\"plain_text\",content:`${title} ${data.date}`},template:tmpl},body:{elements:[{tag:\"markdown\",content:trunc}]}}};\nreturn [{json:{webhookUrl:data.feishuWebhook,payload,date:data.date,totalItems:data.totalItems,errorCount:data.errorCount}}];"},"position":[912,304],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"8a53e99d-91c0-46a0-9b26-9ef397ce43ff","name":"发送飞书群","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify($json.payload) }}","method":"POST","options":{"response":{"response":{"neverError":true}},"timeout":10000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"={{ $json.webhookUrl }}"},"position":[1120,304],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"64c1ce74-a7da-49c7-9352-99e3b72a00cb","name":"输出结果","onError":"continueRegularOutput","parameters":{"jsCode":"// 从初始化配置获取日期\nconst initConfig = $('初始化配置').first().json;\nconst date = initConfig?.date || '未知日期';\n\n// 从格式化日报获取统计\nconst formatData = $('格式化日报').first().json;\nconst totalItems = formatData?.totalItems || 0;\nconst errorCount = formatData?.errorCount || 0;\nconst transStats = formatData?.translationStats || {};\n\n// 从当前输入获取飞书响应\nconst feishuResp = $input.first().json;\nlet feishuStatus = '未执行';\nif (feishuResp) {\n    const code = feishuResp.code ?? feishuResp.StatusCode;\n    if (code === 0) feishuStatus = '✅ 发送成功';\n    else if (code !== undefined) feishuStatus = `❌ API错误: ${code}`;\n    else if (feishuResp.statusCode) feishuStatus = feishuResp.statusCode === 200 ? '✅ 发送成功' : `❌ HTTP错误: ${feishuResp.statusCode}`;\n}\n\n// 翻译状态\nconst transStatus = transStats.model ? `${transStats.model} ${transStats.translatedCount}/${transStats.totalTexts}条` : '未配置';\n\nreturn [{ json: { \n    message: `✅ 日报生成完成: ${date}`, \n    totalItems, \n    errors: errorCount > 0 ? `${errorCount}个数据源失败` : '无', \n    feishuStatus,\n    translation: transStatus,\n    translationTime: transStats.durationFormatted || '-',\n    startTime: transStats.startTime || '-',\n    endTime: transStats.endTime || '-'\n} }];"},"position":[1344,208],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"tech-daily-webhook-v3","name":"Tech Daily Webhook","parameters":{"httpMethod":"GET","options":{},"path":"tech-daily-trigger","responseMode":"lastNode"},"position":[-464,496],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"31855a29-d66e-495e-9257-bb8219216684"}],"connections":{"HackerNews RSS":{"main":[[{"index":0,"node":"解析HackerNews","type":"main"}]]},"Merge":{"main":[[{"index":0,"node":"准备批量翻译","type":"main"}]]},"ProductHunt RSS":{"main":[[{"index":0,"node":"解析ProductHunt","type":"main"}]]},"Tech Daily Webhook":{"main":[[{"index":0,"node":"初始化配置","type":"main"}]]},"TechCrunch RSS":{"main":[[{"index":0,"node":"解析TechCrunch","type":"main"}]]},"保存Markdown":{"main":[[{"index":0,"node":"输出结果","type":"main"}]]},"准备批量翻译":{"main":[[{"index":0,"node":"格式化日报","type":"main"}]]},"准备飞书消息":{"main":[[{"index":0,"node":"发送飞书群","type":"main"}]]},"初始化配置":{"main":[[{"index":0,"node":"TechCrunch RSS","type":"main"},{"index":0,"node":"HackerNews RSS","type":"main"},{"index":0,"node":"ProductHunt RSS","type":"main"}]]},"发送飞书群":{"main":[[{"index":0,"node":"输出结果","type":"main"}]]},"手动触发":{"main":[[{"index":0,"node":"初始化配置","type":"main"}]]},"格式化日报":{"main":[[{"index":0,"node":"准备飞书消息","type":"main"}]]},"每日8点触发":{"main":[[{"index":0,"node":"初始化配置","type":"main"}]]},"解析HackerNews":{"main":[[{"index":1,"node":"Merge","type":"main"}]]},"解析ProductHunt":{"main":[[{"index":2,"node":"Merge","type":"main"}]]},"解析TechCrunch":{"main":[[{"index":0,"node":"Merge","type":"main"}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:每日8点触发":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"3fec4769-bc18-4a70-8e7a-02a339c8c83d","activeVersionId":"3fec4769-bc18-4a70-8e7a-02a339c8c83d","versionCounter":338,"triggerCount":2,"shared":[{"updatedAt":"2026-04-07T08:58:01.501Z","createdAt":"2026-04-07T08:58:01.501Z","role":"workflow:owner","workflowId":"RhloJWkaU02qiNJO","projectId":"94SKIzKyQvxLVhiN","project":{"updatedAt":"2026-03-23T03:38:03.147Z","createdAt":"2026-03-22T00:50:45.910Z","id":"94SKIzKyQvxLVhiN","name":"leon wang <z7ping@outlook.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-03-22T00:50:45.910Z","createdAt":"2026-03-22T00:50:45.910Z","userId":"7f546712-e7ed-4e07-b0c1-d939e69a51f3","projectId":"94SKIzKyQvxLVhiN","user":{"updatedAt":"2026-06-24T05:48:29.000Z","createdAt":"2026-03-22T00:50:45.697Z","id":"7f546712-e7ed-4e07-b0c1-d939e69a51f3","email":"z7ping@outlook.com","firstName":"leon","lastName":"wang","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-23T03:38:18.389Z","personalization_survey_n8n_version":"2.12.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"RhloJWkaU02qiNJO","userActivatedAt":1775779200701,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1781104767997}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-24","isPending":false}}]}}],"tags":[{"updatedAt":"2026-04-06T14:46:22.477Z","createdAt":"2026-04-06T14:46:22.477Z","id":"NwuVukc1cvERTXIT","name":"日报"},{"updatedAt":"2026-04-06T14:46:22.398Z","createdAt":"2026-04-06T14:46:22.398Z","id":"S6iLuO7971PO4YFM","name":"科技资讯"}],"activeVersion":{"updatedAt":"2026-06-24T10:20:30.338Z","createdAt":"2026-06-24T10:20:30.338Z","versionId":"3fec4769-bc18-4a70-8e7a-02a339c8c83d","workflowId":"RhloJWkaU02qiNJO","nodes":[{"id":"ff65e550-86a1-450a-8065-fb32766ce18e","name":"手动触发","parameters":{},"position":[-464,112],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"id":"5447b8c9-83c4-4cf2-bb6e-3e573ec80867","name":"每日8点触发","parameters":{"rule":{"interval":[{"expression":"0 8 * * *","field":"cronExpression"}]}},"position":[-464,304],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"id":"38057db3-cf70-4db7-a539-09d88613c007","name":"初始化配置","onError":"continueRegularOutput","parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\nconst FEISHU_WEBHOOK = 'https://open.feishu.cn/open-apis/bot/v2/hook/2750a463-335f-4f9b-a227-b78087fa5db0';\nreturn [{ json: { date: today, feishuWebhook: FEISHU_WEBHOOK } }];"},"position":[-240,208],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"ef31c458-b611-47bc-bf8b-ffecacbe1d2c","name":"TechCrunch RSS","onError":"continueRegularOutput","parameters":{"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":15000},"url":"https://techcrunch.com/feed/"},"position":[0,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"7ac1e620-5741-49dc-b17d-c97952f88a9a","name":"HackerNews RSS","onError":"continueRegularOutput","parameters":{"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":15000},"url":"https://hnrss.org/frontpage?points=50"},"position":[0,208],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"5de5215b-fdeb-4718-8783-5d5d82f9145e","name":"ProductHunt RSS","onError":"continueRegularOutput","parameters":{"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":15000},"url":"https://www.producthunt.com/feed"},"position":[0,400],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"6a13a007-d413-4411-a81a-0365e452fb50","name":"解析TechCrunch","onError":"continueRegularOutput","parameters":{"jsCode":"const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'TechCrunch', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst itemRegex = /<item[\\s>]*([\\s\\S]*?)<\\/item>/gi;\nlet match, count = 0;\nwhile ((match = itemRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '', date = '', author = '';\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  const l = xml.match(/<link>(.*?)<\\/link>/i);\n  if (l) link = l[1].trim();\n  const d = xml.match(/<description>([\\s\\S]*?)<\\/description>/i);\n  if (d) { desc = d[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').replace(/<[^>]+>/g, ' ').substring(0, 200).trim(); }\n  const p = xml.match(/<pubDate>(.*?)<\\/pubDate>/i);\n  if (p) date = p[1].trim();\n  const c = xml.match(/<dc:creator>([\\s\\S]*?)<\\/dc:creator>/i);\n  if (c) author = c[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  if (title) { items.push({ title, link, description: desc, date, author }); count++; }\n}\nreturn [{ json: { source: 'TechCrunch', items, count: items.length } }];"},"position":[240,0],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"a5895384-1310-4eaf-af5d-0a287c35dfd4","name":"解析HackerNews","onError":"continueRegularOutput","parameters":{"jsCode":"const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'HackerNews', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst itemRegex = /<item[\\s>]*([\\s\\S]*?)<\\/item>/gi;\nlet match, count = 0;\nwhile ((match = itemRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '', date = '', points = 0;\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim();\n  const l = xml.match(/<link>(.*?)<\\/link>/i);\n  if (l) link = l[1].trim();\n  const d = xml.match(/<description>([\\s\\S]*?)<\\/description>/i);\n  if (d) { desc = d[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').replace(/<[^>]+>/g, ' ').substring(0, 200).trim(); }\n  const p = xml.match(/<pubDate>(.*?)<\\/pubDate>/i);\n  if (p) date = p[1].trim();\n  const pm = desc.match(/Points:\\s*(\\d+)/);\n  if (pm) points = parseInt(pm[1]);\n  if (title) { items.push({ title, link, description: desc, date, points }); count++; }\n}\nreturn [{ json: { source: 'HackerNews', items, count: items.length } }];"},"position":[240,208],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"219fcc18-14bb-4840-98b5-92783fdf951b","name":"解析ProductHunt","parameters":{"jsCode":"const resp = $input.first().json;\nconst status = resp.statusCode || 0;\nconst body = resp.data || resp.body || '';\nif (status !== 200 || !body || body.length < 100) return [{ json: { source: 'ProductHunt', items: [], error: `HTTP ${status}` } }];\nconst items = [];\nconst entryRegex = /<entry[\\s>]*([\\s\\S]*?)<\\/entry>/gi;\nlet match, count = 0;\nwhile ((match = entryRegex.exec(body)) !== null && count < 10) {\n  const xml = match[1];\n  let title = '', link = '', desc = '';\n  const t = xml.match(/<title>([\\s\\S]*?)<\\/title>/i);\n  if (t) title = t[1].trim();\n  const l = xml.match(/<link[^>]*rel=\"alternate\"[^>]*href=\"([^\"]+)\"/i);\n  if (l) link = l[1];\n  const c = xml.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/i);\n  if (c) {\n    desc = c[1].replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n    const pm = desc.match(/<p>(.*?)<\\/p>/i);\n    if (pm) desc = pm[1].trim();\n    else desc = desc.replace(/<[^>]+>/g, ' ').substring(0, 200).trim();\n  }\n  if (title) { items.push({ title, link, description: desc }); count++; }\n}\nreturn [{ json: { source: 'ProductHunt', items, count: items.length } }];"},"position":[240,400],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"fe3e301a-5a13-4d53-a292-3c0fc0a497b1","name":"Merge","parameters":{"numberInputs":3},"position":[512,192],"type":"n8n-nodes-base.merge","typeVersion":3.2},{"id":"4c3e8fde-4b1b-4858-8689-d87e085bc9a9","name":"准备批量翻译","parameters":{"jsCode":"const allData = $input.all().map(i => i.json);\nconst startTime = Date.now();\nconst startTimeStr = new Date(startTime+8*3600000).toISOString().replace('T',' ').slice(0,19);\nfunction cleanText(s){if(!s||typeof s!=='string')return '';return s.replace(/https?:\\/\\/[^\\s]+/g,'').replace(/<[^>]+>/g,'').replace(/&\\w+;/g,'').replace(/\\n/g,' ').replace(/\\s+/g,' ').trim();}\nfunction isRealEnglish(t){if(!t||t.length<5)return false;const l=(t.match(/[a-zA-Z]/g)||[]).length;const tot=t.replace(/\\s/g,'').length;return tot>0&&l>10&&(l/tot)>0.6;}\nconst MODEL='qwen3.5:2b';\nconst OLLAMA_HOST='http://192.168.31.87:11434';\nlet totalTexts=0;let translatedCount=0;let errorCount=0;\n\n// 按来源分批翻译\nfor(let si=0;si<allData.length;si++){\n  const src=allData[si];\n  if(!src?.items)continue;\n  const toTrans=[];const tMap=[];\n  for(let ii=0;ii<src.items.length;ii++){\n    const it=src.items[ii];\n    const ct=cleanText(it.title);\n    if(isRealEnglish(ct)){toTrans.push(ct.substring(0,300));tMap.push({ii,f:'title',orig:ct});}\n    const cd=cleanText(it.description);\n    if(isRealEnglish(cd)){toTrans.push(cd.substring(0,100));tMap.push({ii,f:'desc',orig:cd.substring(0,100),full:cd});}\n  }\n  if(toTrans.length===0)continue;\n  totalTexts+=toTrans.length;\n  // 不去重，直接按顺序翻译\n  const bSize=30;const batches=[];\n  for(let i=0;i<toTrans.length;i+=bSize)batches.push(toTrans.slice(i,i+bSize));\n  const tMap2={};\n  let offset=0;\n  for(let i=0;i<batches.length;i++){\n    const b=batches[i];\n    const prompt=`将以下${b.length}个英文翻译成中文，每行一个翻译结果：\\n${b.map((t,j)=>`${j+1}. ${t}`).join('\\n')}\\n翻译结果：`;\n    try{\n      const r=await this.helpers.httpRequest({method:'POST',url:OLLAMA_HOST+'/api/chat',headers:{'Content-Type':'application/json'},body:{model:MODEL,messages:[{role:'system',content:'你是科技资讯翻译助手，只输出翻译结果，不要解释。'},{role:'user',content:prompt}],stream:false,think:false,options:{num_predict:2000,temperature:0.1}},timeout:720000});\n      const content=r.message?.content||'';\n      const lines=content.split('\\n').map(l=>l.replace(/^\\d+[.\\s]+/,'').trim()).filter(l=>l.length>0&&!l.includes('待翻译')&&!l.includes('翻译结果'));\n      const mc=Math.min(b.length,lines.length);\n      for(let j=0;j<mc;j++){\n        const origIdx=offset+j;\n        if(lines[j]&&lines[j]!==b[j]){\n          tMap2[origIdx]=lines[j];\n          translatedCount++;\n        }\n      }\n      offset+=b.length;\n    }catch(e){errorCount++;console.log(`批次 ${i+1} 错误: ${e.message}`);}\n  }\n  tMap.forEach((p,idx)=>{\n    const tr=tMap2[idx];\n    if(tr){\n      if(p.f==='title')src.items[p.ii].title=tr;\n      else{\n        const ratio=tr.length/p.orig.length;\n        const tl=Math.min(Math.floor(p.full.length*ratio*1.2),180);\n        src.items[p.ii].description=tr.substring(0,tl)+(tl<tr.length?'...':'');\n      }\n    }\n  });\n}\n\nconst endTime=Date.now();\nconst durationSec=Math.round((endTime-startTime)/1000);\nconst durationMin=Math.floor(durationSec/60);\nconst durationRemain=durationSec%60;\nconst endTimeStr = new Date(endTime+8*3600000).toISOString().replace('T',' ').slice(0,19);\nconst stats={model:MODEL,host:OLLAMA_HOST,totalTexts,translatedCount,errorCount,durationSec,durationFormatted:`${durationMin}分${durationRemain}秒`,startTime:startTimeStr,endTime:endTimeStr};\nconsole.log(JSON.stringify(stats));\nreturn allData.map(s=>({json:{...s,_translationStats:stats}}));"},"position":[512,544],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"b0a2c156-fb4a-4dd6-beb2-ebf8f22d5818","name":"格式化日报","onError":"continueRegularOutput","parameters":{"jsCode":"const allData = $input.all().map(i => i.json);\nconst config = $('初始化配置').first().json;\nconst date = config.date;\nconst sources = [{key:'TechCrunch',icon:'🐦',label:'TechCrunch 热门'},{key:'HackerNews',icon:'🔶',label:'HackerNews 热门'},{key:'ProductHunt',icon:'🚀',label:'Product Hunt 今日新品'}];\nconst dMap = new Map();for(const d of allData)dMap.set(d.source,d);\nconst results = sources.map(s=>{const r=dMap.get(s.key)||{items:[],error:null};return{...s,...r};});\nconst total = results.reduce((s,r)=>s+(r.items?.length||0),0);\nconst errors = results.filter(r=>r.error).map(r=>({source:r.key,msg:r.error}));\nconst now = new Date();const bj = new Date(now.getTime()+8*3600000);\nconst ts = bj.toISOString().replace('T',' ').slice(0,19)+' (北京时间)';\nconst transStats = allData.find(d=>d._translationStats)?._translationStats || {};\n\n// 清理描述字段\nfunction cleanDesc(desc, source) {\n  if (!desc) return '';\n  if (source === 'HackerNews') return '';\n  if (source === 'ProductHunt') {\n    return desc.replace(/\\s*(Discussion|讨论)\\s*\\|\\s*(Link|链接)\\s*/g, '').trim();\n  }\n  return desc.substring(0, 80);\n}\n\n// 格式化运行时间\nconst startTime = transStats.startTime || '-';\nconst endTime = transStats.endTime || '-';\nconst timeRange = startTime + '~' + endTime.split(' ')[1];\n\n// 获取翻译服务IP\nconst host = transStats.host || '';\nconst hostIp = host.includes('87') ? '87' : host.includes('102') ? '102' : '-';\n\nlet md = '';\nmd += `**📊 运行统计**\\n`;\nmd += `⏰ 运行时间: ${timeRange}\\n`;\nmd += `🤖 翻译服务: ${transStats.model || '未配置'} (${hostIp})\\n`;\nmd += `📄 翻译结果: ${transStats.translatedCount || 0}/${transStats.totalTexts || 0}条成功\\n`;\nmd += `⏱️ 翻译耗时: ${transStats.durationFormatted || '-'}\\n`;\nmd += `📡 数据源: TC:${results.find(r=>r.key==='TechCrunch')?.items?.length || 0} HN:${results.find(r=>r.key==='HackerNews')?.items?.length || 0} PH:${results.find(r=>r.key==='ProductHunt')?.items?.length || 0}\\n`;\nmd += `\\n---\\n`;\nif(errors.length===0)md+=`**✅ 所有数据源获取成功** | 📊 总文章数: ${total} 条\\n\\n`;\nelse{md+=`**⚠️ 数据获取状态**\\n✅ 成功: ${results.length-errors.length}/${results.length}\\n❌ 失败: ${errors.length}/${results.length}\\n📊 总文章数: ${total} 条\\n\\n`;errors.forEach(e=>{md+=`- **${e.source}**: ${e.msg}\\n`;});md+='\\n';}\nresults.forEach(r=>{md+=`\\n---\\n**${r.icon} ${r.label}**`;if(r.error){md+=` ❌ ${r.error}\\n\\n`;return;}const c=r.items?.length||0;md+=` (${c}条)\\n`;if(c===0){md+='> 暂无数据\\n\\n';return;}(r.items||[]).forEach((it,i)=>{const t=it.title||'(无标题)';const d=cleanDesc(it.description, r.key);const dStr=d?` — ${d}`:'';const sc=r.key==='HackerNews'&&it.points?` (${it.points}分)`:'';const lk=it.link?` [🔗查看详情](${it.link})`:'';md+=`${i+1}. **${t}**${sc}${dStr}${lk}\\n`;});md+='\\n';});\nmd+=`\\n---\\n*由 n8n 自动生成 | ${ts}*`;\nreturn [{json:{markdown:md,date,totalItems:total,errorCount:errors.length,errors,feishuWebhook:config.feishuWebhook,translationStats:transStats}}];"},"position":[720,272],"type":"n8n-nodes-base.code","typeVersion":2},{"continueOnFail":true,"disabled":true,"id":"b073c55f-ad5e-431c-9ceb-80849ad3a6c2","name":"保存Markdown","parameters":{"fileName":"=/tmp/tech-digest/tech-digest-{{ $json.date }}.md","operation":"write","options":{}},"position":[912,112],"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1},{"id":"46c290ba-9f4a-4e14-9dc9-3ecb0cde38bd","name":"准备飞书消息","onError":"continueRegularOutput","parameters":{"jsCode":"const data = $input.first().json;\nconst md = data.markdown || '';\nconst trunc = md.length > 8000 ? md.substring(0, 7900) + '\\n\\n... (已截断)' : md;\nconst title = data.errorCount > 0 ? `📊 科技资讯日报 (⚠️ ${data.errorCount}个源失败)` : '📊 科技资讯日报';\nconst tmpl = data.errorCount > 0 ? 'red' : 'blue';\nconst payload = {msg_type:\"interactive\",card:{schema:\"2.0\",config:{wide_screen_mode:true},header:{title:{tag:\"plain_text\",content:`${title} ${data.date}`},template:tmpl},body:{elements:[{tag:\"markdown\",content:trunc}]}}};\nreturn [{json:{webhookUrl:data.feishuWebhook,payload,date:data.date,totalItems:data.totalItems,errorCount:data.errorCount}}];"},"position":[912,304],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"8a53e99d-91c0-46a0-9b26-9ef397ce43ff","name":"发送飞书群","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify($json.payload) }}","method":"POST","options":{"response":{"response":{"neverError":true}},"timeout":10000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"={{ $json.webhookUrl }}"},"position":[1120,304],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"64c1ce74-a7da-49c7-9352-99e3b72a00cb","name":"输出结果","onError":"continueRegularOutput","parameters":{"jsCode":"// 从初始化配置获取日期\nconst initConfig = $('初始化配置').first().json;\nconst date = initConfig?.date || '未知日期';\n\n// 从格式化日报获取统计\nconst formatData = $('格式化日报').first().json;\nconst totalItems = formatData?.totalItems || 0;\nconst errorCount = formatData?.errorCount || 0;\nconst transStats = formatData?.translationStats || {};\n\n// 从当前输入获取飞书响应\nconst feishuResp = $input.first().json;\nlet feishuStatus = '未执行';\nif (feishuResp) {\n    const code = feishuResp.code ?? feishuResp.StatusCode;\n    if (code === 0) feishuStatus = '✅ 发送成功';\n    else if (code !== undefined) feishuStatus = `❌ API错误: ${code}`;\n    else if (feishuResp.statusCode) feishuStatus = feishuResp.statusCode === 200 ? '✅ 发送成功' : `❌ HTTP错误: ${feishuResp.statusCode}`;\n}\n\n// 翻译状态\nconst transStatus = transStats.model ? `${transStats.model} ${transStats.translatedCount}/${transStats.totalTexts}条` : '未配置';\n\nreturn [{ json: { \n    message: `✅ 日报生成完成: ${date}`, \n    totalItems, \n    errors: errorCount > 0 ? `${errorCount}个数据源失败` : '无', \n    feishuStatus,\n    translation: transStatus,\n    translationTime: transStats.durationFormatted || '-',\n    startTime: transStats.startTime || '-',\n    endTime: transStats.endTime || '-'\n} }];"},"position":[1344,208],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"tech-daily-webhook-v3","name":"Tech Daily Webhook","parameters":{"httpMethod":"GET","options":{},"path":"tech-daily-trigger","responseMode":"lastNode"},"position":[-464,496],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"31855a29-d66e-495e-9257-bb8219216684"}],"connections":{"HackerNews RSS":{"main":[[{"index":0,"node":"解析HackerNews","type":"main"}]]},"Merge":{"main":[[{"index":0,"node":"准备批量翻译","type":"main"}]]},"ProductHunt RSS":{"main":[[{"index":0,"node":"解析ProductHunt","type":"main"}]]},"Tech Daily Webhook":{"main":[[{"index":0,"node":"初始化配置","type":"main"}]]},"TechCrunch RSS":{"main":[[{"index":0,"node":"解析TechCrunch","type":"main"}]]},"保存Markdown":{"main":[[{"index":0,"node":"输出结果","type":"main"}]]},"准备批量翻译":{"main":[[{"index":0,"node":"格式化日报","type":"main"}]]},"准备飞书消息":{"main":[[{"index":0,"node":"发送飞书群","type":"main"}]]},"初始化配置":{"main":[[{"index":0,"node":"TechCrunch RSS","type":"main"},{"index":0,"node":"HackerNews RSS","type":"main"},{"index":0,"node":"ProductHunt RSS","type":"main"}]]},"发送飞书群":{"main":[[{"index":0,"node":"输出结果","type":"main"}]]},"手动触发":{"main":[[{"index":0,"node":"初始化配置","type":"main"}]]},"格式化日报":{"main":[[{"index":0,"node":"准备飞书消息","type":"main"}]]},"每日8点触发":{"main":[[{"index":0,"node":"初始化配置","type":"main"}]]},"解析HackerNews":{"main":[[{"index":1,"node":"Merge","type":"main"}]]},"解析ProductHunt":{"main":[[{"index":2,"node":"Merge","type":"main"}]]},"解析TechCrunch":{"main":[[{"index":0,"node":"Merge","type":"main"}]]}},"authors":"leon wang","name":null,"description":null}}